*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-sizing: border-box;
  line-height: calc(1em + 1ex);
}

:root {
  font-size: 16px;
  font-family: sans-serif;
}

header {
  padding: 1.3em .5em;
  background-color: #7be64d;
  color: #292929;
  text-align: center;
}

nav {
  background-color: #ddd;
}

nav ul {
  display: grid;
  grid-template-columns: auto;
  list-style: none;
}

nav a {
  display: block;
  padding: 1em .5em;
  text-decoration: none;
  color: #222;
  font-weight: 500;
  text-align: center;
  background-color: #ddd;
}

nav a:hover, nav a:focus, nav a.active {
  background-color: #bbb;
}

nav a:visited {
  color: #292929;
}

h2 {
  text-align: center;
  padding: .8em .5em .5em;
}

p {
  padding: .5em;
}

@media screen and (min-width: 40em) {
  nav ul {
    grid-template-columns: repeat(4, 1fr);
  }

  nav li {
    flex-grow: 1;
  }

  p {
    padding: .5em 1em;
  }
}

@media screen and (min-width: 55em) {
  nav ul {
    width: 55rem;
    margin: 0 auto;
  }

  main {
    width: 55rem;
    margin: 0 auto;
  }
}
