*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-sizing: border-box;
  line-height: calc(1em + 1ex);
  outline: none;
}

:root {
  font-size: 16px;
  font-family: sans-serif;
}

.page__header {
  padding: 1.3em .5em;
  background: linear-gradient(to bottom, #92de74, #68b046);
  color: #292929;
  text-align: center;
}

nav {
  background: linear-gradient(to bottom, #ddd, #c0c0c0);
}

nav ul {
  display: grid;
  grid-template-columns: auto;
  row-gap: 1px;
  column-gap: 1px;
  list-style: none;
  background-color: #777;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5em;
  text-decoration: none;
  color: #222;
  font-weight: 500;
  text-align: center;
  box-shadow: inset 0 0 3px 0 #898989;
  background: linear-gradient(to bottom, #ccc, #b0b0b0);
}

nav a.active {
  background: linear-gradient(to bottom, #bbb, #a0a0a0);
}

nav a:hover, nav a:focus {
  background: linear-gradient(to bottom, #aaa, #909090);
  text-decoration: underline;
}

nav a:visited {
  color: #222;
}

main {
  padding: 0 .5rem;
}

h2 {
  text-align: center;
  padding: .8em 0 .5em;
}

h3 {
  padding: .8em 0 .5em;
}

p {
  padding: .5rem .3rem;
}

main ul {
  padding: .5rem 0 .5rem 1.5rem;
}

main details {
  margin: .5rem .3rem;
}

main summary {
  padding: .4em .4em;
  background: linear-gradient(to bottom, #ddd, #c0c0c0);
  border-radius: 7px 7px 0 0;
  color: #222;
  font-weight: 500;
}

main details[open] > .details__full {
  border-left: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  border-radius: 0 0 7px 7px;
  padding: .2em .4em;
}

.display {
  display: grid;
  grid-template-areas: 'title title' 'value unit';
  grid-template-columns: 1fr 1fr;
  row-gap: .1em;
  column-gap: .2em;
  border: 1px solid #c0c0c0;
  border-radius: 7px;
  padding: .4em .8em;
  margin: 0 auto .5rem;
  max-width: 12em;
}

.display__title {
  grid-area: title;
}

.display__title > h4 {
  font-weight: 300;
  font-style: italic;
  font-size: .8em;
}

.display__value {
  grid-area: value;
  justify-self: end;
  font-weight: 500;
  font-size: 1.3em;
}

.display__unit {
  grid-area: unit;
  font-weight: 300;
  font-style: italic;
  font-size: .9em;
}

@media screen and (min-width: 40rem) {
  nav ul {
    grid-template-columns: repeat(4, 1fr);
  }

  nav li {
    flex-grow: 1;
  }

  main {
    padding: 0 .7rem;
  }

  h3 {
    padding: .8em 0 .5em;
  }

  p {
    padding: .5rem .3rem;
  }

  main details {
    margin: .5rem .3rem;
  }
}

@media screen and (min-width: 55rem) {
  nav ul {
    width: 55rem;
    margin: 0 auto;
  }

  main {
    width: 55rem;
    margin: 0 auto;
  }
}
